<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>images</string>
		<key>colors</key>
		<array>
			<integer>249</integer>
			<integer>84</integer>
			<integer>7</integer>
		</array>
		<key>title</key>
		<string>疯狂动物城</string>
	</dict>
	<dict>
		<key>image</key>
		<string>images-1</string>
		<key>colors</key>
		<array>
			<integer>69</integer>
			<integer>59</integer>
			<integer>55</integer>
		</array>
		<key>title</key>
		<string>第一页</string>
	</dict>
	<dict>
		<key>image</key>
		<string>images-2</string>
		<key>colors</key>
		<array>
			<integer>249</integer>
			<integer>194</integer>
			<integer>7</integer>
		</array>
		<key>title</key>
		<string>第二页</string>
	</dict>
	<dict>
		<key>image</key>
		<string>images-3</string>
		<key>colors</key>
		<array>
			<integer>32</integer>
			<integer>188</integer>
			<integer>32</integer>
		</array>
		<key>title</key>
		<string>第三页</string>
	</dict>
	<dict>
		<key>image</key>
		<string>images-4</string>
		<key>colors</key>
		<array>
			<integer>207</integer>
			<integer>34</integer>
			<integer>156</integer>
		</array>
		<key>title</key>
		<string>第四页</string>
	</dict>
	<dict>
		<key>image</key>
		<string>images-5</string>
		<key>colors</key>
		<array>
			<integer>14</integer>
			<integer>88</integer>
			<integer>149</integer>
		</array>
		<key>title</key>
		<string>第五页</string>
	</dict>
</array>
</plist>
